<%- include("../common/header.ejs") %>
        <div class="userinfo_wrap">
            <div class="userinfo_header">
                <span class="close" onclick="history.back();"><i class="fas fa-chevron-left"></i></span>
                <span>회원 정보</span>
            </div>
            <div class="userinfo_title">
                <img src="<%=userinfo.user_profile%>" alt="">
                <span><%=userinfo.user_name%></span>님
            </div>
            <div class="userinfo_content">
                <ul class="userinfo_menu">
                    <li class="userinfo_menu_item user_profile">
                        <span class="title"> 내 프로필 수정</span>
                        <span><i class="fas fa-chevron-right"></i></span>
                    </li>
    <% if(userinfo.user_idx == userinfo.parent_user_idx) { %>
                    <li class="userinfo_menu_item user_lock" data-lock="<%=userinfo.user_lock%>">
                        <span class="title"> 내 프로필 잠금설정</span>
                        <span class="desc<%=(userinfo.user_lock == 'yes')?' use':''%>"><%=(userinfo.user_lock == 'yes')?'':'미'%>사용중</span>
                    </li>
                    <li class="userinfo_menu_item split" onclick="common.manage();">
                        <span class="title"> 가족 관리</span>
                        <span><i class="fas fa-chevron-right"></i></span>
                    </li>
    <% } %>
                    <li class="userinfo_menu_item user_change_member">
                        <span class="title"> 사용자 바꾸기</span>
                        <span><i class="fas fa-chevron-right"></i></span>
                    </li>
                    <li class="userinfo_menu_item split" onclick="common.logout();">
                        <span class="title"> 로그아웃</span>
                        <span><i class="fas fa-chevron-right"></i></span>
                    </li>
    <% if(userinfo.user_idx == userinfo.parent_user_idx) { %>
                    <li class="userinfo_menu_item split" onclick="common.signout();">
                        <span class="title"> 회원탈퇴</span>
                        <span><i class="fas fa-chevron-right"></i></span>
                    </li>
    <% } %>
                </ul>
            </div>
        </div>
        <section class="layer_modal">
            <div class="profile_wrap animate"><!-- 프로필 바꾸기 -->
                <form action="/user/modify_profile" method="post" id="profile_form" onsubmit="return false;">
                    <div class="profile_form">
                        <span class="close">×</span>
                        <div class="profile_title">
                            <span>내 프로필 수정</span>
                        </div>
                        <div class="profile_picture">
                            <img src="" class="user_profile_picture_preview">
                            <label for="user_profile_picture" class="user_profile_picture"><i class="fas fa-camera"></i></label>
                            <input type="file" name="user_profile_picture" id="user_profile_picture" accept=".jpg, .jpeg, .gif, .png">
                        </div>
                        <div class="profile_name">
                            <input type="text" name="user_name" placeholder="사용자 이름을 입력하세요." value="<%=userinfo.user_name%>">
                        </div>
                        <div class="profile_button">
                            <button type="button" class="profilebtn">수정하기</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="lock_wrap animate"><!-- 잠금설정하기 -->
                <form action="/user/lock" method="post" id="lock_form" onsubmit="return false;">
                    <div class="lock_form">
                        <span class="close">×</span>
                        <div class="lock_title">
                            <span>내 프로필 잠금설정</span>
                        </div>
                        <div class="lock_password">
                            <input type="password" name="lock_password" placeholder="잠금설정 비밀번호를 입력해 주세요." value="" maxlength="4">
                        </div>
                        <div class="lock_password_re">
                            <input type="password" name="lock_password_re" placeholder="잠금설정 비밀번호를 다시 입력해 주세요." value="" maxlength="4">
                        </div>
                        <div class="lock_button">
                            <button type="button" class="lockbtn">잠금 설정하기</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="unlock_wrap animate"><!-- 잠금설정 해제하기 -->
                <form action="/user/unlock" method="post" id="unlock_form" onsubmit="return false;">
                    <div class="unlock_form">
                        <span class="close">×</span>
                        <div class="unlock_title">
                            <span>내 프로필 잠금해제</span>
                        </div>
                        <div class="unlock_password">
                            <input type="password" name="unlock_password" placeholder="잠금설정 비밀번호를 입력해 주세요." value="" maxlength="4">
                        </div>
                        <div class="unlock_button">
                            <button type="button" class="unlockbtn">잠금 해제하기</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <script src="/js/userinfo.js"></script>
<%- include("../common/footer.ejs") %>
