<%- include("../common/header.ejs") %>
        <div class="user_wrap">
            <div class="userinfo_header">
                <span>회원 정보</span>
            </div>
            <div class="userinfo_title">
                <img src="<%=userinfo.user_profile%>" alt="">
                <span><%=userinfo.user_name%></span>님
            </div>
            <div class="userinfo_content">
                <ul class="userinfo_menu">
                    <li class="userinfo_menu_item user_profile">
                        <span class="title"> 프로필 수정</span>
                        <span><i class="fas fa-chevron-right"></i></span>
                    </li>
    <% if(userinfo.user_idx == userinfo.parent_user_idx) { %>
                    <li class="userinfo_menu_item user_lock" data-lock="<%=userinfo.user_lock%>">
                        <span class="title"> 사용자 잠금설정</span>
                        <span class="desc<%=(userinfo.user_lock == 'yes')?' use':''%>"><%=(userinfo.user_lock == 'yes')?'':'미'%>사용중</span>
                    </li>
                    <li class="userinfo_menu_item user_manage">
                        <span class="title"> 사용자 관리</span>
                        <span><i class="fas fa-chevron-right"></i></span>
                    </li>
    <% } %>
                    <li class="userinfo_menu_item user_change_member">
                        <span class="title"> 사용자 바꾸기</span>
                        <span><i class="fas fa-chevron-right"></i></span>
                    </li>
                    <li class="userinfo_menu_item" onclick="common.logout();">
                        <span class="title"> 로그아웃</span>
                        <span><i class="fas fa-chevron-right"></i></span>
                    </li>
                    <li class="userinfo_menu_item" onclick="common.signout();">
                        <span class="title"> 회원탈퇴</span>
                        <span><i class="fas fa-chevron-right"></i></span>
                    </li>
                </ul>
            </div>
        </div>

        <section class="layer_modal">
            <div class="profile_wrap animate"><!-- 프로필 바꾸기 -->
                <form action="/user/modify_profile" method="post" id="profile_form" onsubmit="return false;">
                    <div class="profile_form">
                        <span class="close">X</span>
                        <div class="profile_title">
                            <span>프로필 수정</span>
                        </div>
                        <div class="profile_picture">
                            <img src="" class="user_profile_picture_preview">
                            <label for="user_profile_picture" class="user_profile_picture"><i class="far fa-edit"></i></label>
                            <input type="file" name="user_profile_picture" id="user_profile_picture">
                        </div>
                        <div class="profile_name">
                            <input type="text" name="user_name" placeholder="사용자 이름을 입력하세요." value="<%=userinfo.user_name%>">
                        </div>
                        <div class="profile_button">
                            <button type="button" class="profilebtn">저장하기</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <!-- <div class="profile_wrap">
            <form action="/user/modify_profile" method="post" id="profile_form" onSubmit="return false;">
                <div class="profile_form">
                    <span class="close">&times;</span>
                    <div class="profile_info">
                        <img src="" alt="">
                        <label for="user_login_code"><b>프로필 사진</b></label>
                        <label for="user_profile" class="user_profile">프로필 사진 바꾸기</label>
                        <input type="file" name="user_profile" id="user_profile" placeholder="">
                    </div>
                    <hr>
                    <label for="user_login_code"><b>닉네임</b></label>
                    <input type="text" name="user_nick" placeholder="">
                    <button type="button" class="profilebtn">닉네임 수정하기</button>
                    <hr>
                    <button type="button" class="delete_profilebtn">프로필 지우기</button>
                </div>
            </form>
        </div> -->
        <script src="/js/userinfo.js"></script>
        <!-- <script> new Userinfo(<%=(user.user_idx == user.parent_user_idx)?true:false%>); </script> -->
<%- include("../common/footer.ejs") %>
