<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <label>No:</label>
        <span id="no"><%=user.user_idx%></span>
    </div>
    <div>
        <label>id:</label>
        <span id="id"><%=user.user_id%></span>
    </div>
    <div>
        <label>email:</label>
        <span id="email"><%=user.user_email%></span>
    </div>
    <div>
        <label>name:</label>
        <span id="name"><%=user.user_name%></span>
    </div>
    <div>
        <label>platform:</label>
        <span id="platform"><%=user.platform%></span>
    </div>
    <div>
        <a href="/">Home</a>
    </div>
    <% if(user.platform == 'local') { %>
    <div>
        <a href="/auth/facebook">Facebook</a>
    </div>
    <div>
        <a href="/auth/google">Google</a>
    </div>
    <div>
        <a href="/auth/kakao">Kakao</a>
    </div>
    <div>
        <a href="/auth/naver">Naver</a>
    </div>
    <% } %>
</body>
</html>
